// @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Raleway:wght@200;300;400;700&display=swap');
:root {
  --primary: #4f515a;
  --secondary: #ebebeb;
  --warning: #da0f41;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: var(--primary);
  box-sizing: border-box;
}
body {
  background: #fafafa;
}
a {
  text-decoration: none;
}

/* buttons */
button, .btn { 
  background: var(--secondary);
  border-radius: 0.5rem;
  border: 0;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover, .btn:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  
  margin: 0 auto;
  padding: 1.875rem;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
  border: 1px solid  var(--secondary);
  background: white;
  text-align: left;
  display: flex;
  flex-direction: column;

}
input, textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 0.625rem 0;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 1.25rem auto;
  font-weight: 300;

}
input[type="file"] {
  border: 0;
  padding: 0;
  
}
label {
  font-size:0.75rem;
  margin-top: 1.875rem;
  font-weight: 400;
}
/* error text */
.error {
  color: var(--warning);
  font-size: .875rem;
  margin: 1rem 0;
}
.container {
  position: relative;
  max-width: 75rem;
  padding: 0 3.125rem;
  margin: 0 auto;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.btn-delete {
  background: var(--warning);
  color: white;
  // margin-left: 1.25rem;
  &:hover {
    background: var(--primary);
    color: white;
  }
}